<h1>Our vehicles</h1>
{{#this}}
    {{#this}}
        <div class="row">
             <div class="col-sm-6 col-md-4">
                 <div class="thumbnail">
                     {{#if imageUrl}}
                         <img src={{imageUrl}} alt="...">
                     {{/if}}
                     <div class="caption">
                         <h3>{{make}} {{model}}</h3>
                         <p>EUR {{price}}</p>
                         {{#if info}}
                             <div>
                                 <a id="additionalInfo">Double click here for more info</a>
                                 <div id="hiddenInfo {{model}}" style="display: none">{{info}}</div>
                             </div>
                         {{/if}}
                     </div>
                 </div>
             </div>
         </div>
    {{/this}}
{{/this}}