<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Vehicle details</div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left media-middle">     
                        {{#if vehicle._imageUrl}}                   
                            <img class="media-object" src="{{vehicle._imageUrl}}" alt="...">   
                        {{else}}
                            <img class="media-object" src="../images/noimage.jpg" alt="...">
                        {{/if}}                     
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{vehicle.make}} {{vehicle.model}}</h3>
                        <div class="form-group">
                            <label>Published on: </label>
                            <span>{{vehicle._kmd.ect}}</span>
                        </div>
                        <div class="form-group">
                            <label>Owner: </label>
                            <span>{{user.username}} <span class="label label-default">({{user.email}})</span></span>
                        </div>
                        <div class="form-group">
                            <label>Vehicle Type: </label>
                            <span>{{vehicle._vehicleType}}</span>
                        </div>
                        <div class="form-group">
                            <label>Year of first registration: </label>
                            <span>{{vehicle._firstRegistration}}</span>
                        </div>
                        <div class="form-group">
                            <label>HP: </label>
                            <span>{{vehicle._hp}}</span>
                        </div>
                        <div class="form-group">
                            <label>Fuel Type: </label>
                            <span>{{vehicle._fuelType}}</span>
                        </div>
                        <div class="form-group">
                            <label>INFO: </label>
                            <span>{{vehicle._info}}</span>
                        </div>
                        <div class="form-group">
                            <h4>Price (EUR): <span class="label label-default">{{vehicle._price}}</span></h4>
                        </div>
                        <div class="form-group">
                            <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2F{{constants.HOST}}%2F%23%2FVehicleDetails%2F?id=590f21ed03c033054bb78d0f/%2Fdocs%2Fplugins%2F&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId" 
                                    width="450" height="80" style="border:none;overflow:hidden" 
                                    scrolling="no" frameborder="0" allowTransparency="true">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>    
</div>
<button type="button" class="btn btn-danger" id="btn-Back">Back</button>